.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding-left: 36px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background-color: #fff;

  &__logo {
    width: 128.75px;
    height: 40px;
    display: block;

    img {
      width: 128.75px;
      height: 40px;
      display: block;
    }
  }

  &__left {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .header__nav {
      display: flex;
      align-items: center;

      li {
        list-style: none;
        margin-right: 32px;

        a {
          font-size: 16px;
          line-height: 18px;
          letter-spacing: -0.01em;
        }
      }
    }

    .lang {
      position: relative;
      font-size: 16px;
      line-height: 18px;
      letter-spacing: -0.01em;
      padding: 0 53px 0 36px;

      &:hover {
        cursor: pointer;
      }

      &::after {
        content: "";
        position: absolute;
        width: 1px;
        height: 40px;
        background-color: rgba(0, 0, 0, 0.1);
        top: 50%;
        left: 0;
        margin-top: -20px;
      }

      .icon {
        position: absolute;
        width: 24px;
        height: 24px;
        background-position: center;
        background-size: 10px 5px;
        background-repeat: no-repeat;
        background-image: url(../media/icon/small-arrow.svg);
        top: 50%;
        right: 29px;
        margin-top: -12px;
        transition: all .3s;
      }

      .show__icon {
        transform: rotate(180deg);
      }

      &__block {
        width: 133px;
        position: absolute;
        background: #FFFFFF;
        box-shadow: 0 4px 24px rgba(0, 0, 0, 0.08);
        border-radius: 4px;
        top: 100%;
        left: 50%;
        margin-left: -66.5px;
        margin-top: 7px;
        padding: 8px 22px;
        overflow: hidden;
        height: 0;
        opacity: 0;
        transition: all .3s;

        .lang__link {
          font-size: 16px;
          line-height: 48px;
          color: #000000;
        }
      }

      .show {
        height: 112px;
        opacity: 1;
      }
    }

    .enter-platform {
      font-weight: 500;
      padding: 28px 36px 29px 36px;
      font-size: 14px;
      line-height: 21px;
      display: block;
      letter-spacing: 0.02em;
      text-transform: uppercase;
      border-left: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}